In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import URL

In [2]:
url_object = URL.create(
    "mssql+pyodbc",
    username="Duke",
    password="Duke@1234",  # plain (unescaped) text
    host="209.209.40.90,19841",
    database="AquaTrax_Usage",
)

engine = create_engine(url_object)

/var/folders/4c/z8zyjh415_s24ch63vqd34z80000gn/T/ipykernel_64552/4130741480.py:9: SAWarning: No driver name specified; this is expected by PyODBC when using DSN-less connections
  engine = create_engine(url_object)

In [4]:
import pyodbc
import pandas as pd
# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = '209.209.40.90,19841' 
database = 'AquaTrax_Usage' 
username = 'Duke' 
password = 'Duke@1234'  
cnxn = pyodbc.connect('DRIVER={ODBC Driver 18 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password+';TrustServerCertificate=yes;')
cursor = cnxn.cursor()
# select 26 rows from SQL table to insert in dataframe.
query = "SELECT * FROM Waterhourlyusage WHERE AccountNumber='3950220-27171' AND Usagedate='2022-10-05 20:00:00.000'"
df = pd.read_sql(query, cnxn)
print(df.head(26))

   HourlyUsageId  AccountNumber           Usagedate  Value  Consumed  \
0      184296228  3950220-27171 2022-10-05 20:00:00    0.0       0.0

       Meternumber StartDateTime ReadingDateTime RatePlanDetailId MeterRead
0  3950220-10450-1          None            None             None      None