In [7]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import URL

In [13]:
url_object = URL.create(
    "mssql+pyodbc",
    username="Duke",
    password="Duke@1234",  # plain (unescaped) text
    host="209.209.40.90,19841",
    database="AquaTrax_Usage",
)

engine = create_engine(url_object)

/var/folders/4c/z8zyjh415_s24ch63vqd34z80000gn/T/ipykernel_23365/4130741480.py:9: SAWarning: No driver name specified; this is expected by PyODBC when using DSN-less connections
  engine = create_engine(url_object)

In [20]:
import pyodbc
import pandas as pd
# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port
server = '209.209.40.90,19841' 
database = 'AquaTrax_Usage' 
username = 'Duke' 
password = 'Duke@1234'  
cnxn = pyodbc.connect('DRIVER={ODBC Driver 18 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password+';TrustServerCertificate=yes;')
cursor = cnxn.cursor()
# select 26 rows from SQL table to insert in dataframe.
query = "SELECT * FROM Waterhourlyusage;"
df = pd.read_sql(query, cnxn)
print(df.head(26))

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

SystemError: <class 'pyodbc.Error'> returned a result with an error set