In [102]:
import pandas as pd
import numpy as np
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from scipy.fft import fft, ifft, fftfreq
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
import matplotlib.pyplot as plt

### Load and create data for FFT and LDA

In [38]:
#Made some edits!
# Load data
leakage_data = pd.read_csv('../../data/Positive_Meters_Data/Aquatrax_SmallLeak.csv')
nonleakage_data = pd.read_csv('../../data/Negative_Meters_Data/Aquatrax_Nonleakage_Data_20accounts.csv')

# Cleaning datasets
nonleakage_data = nonleakage_data.rename({'Usagedate': 'UsageDate', 'Meternumber': 'MeterNumber'}, axis='columns') #rename columns
leakage_data = leakage_data.rename({'Usagedate': 'UsageDate', 'Meternumber': 'MeterNumber'}, axis='columns') #rename columns
leakage_data = leakage_data.iloc[:,:4]

# Combine the datasets
leakage_data['Class'] = 1  # Indicate leakage
nonleakage_data['Class'] = 0  # Indicate non-leakage



combined_data = pd.concat([leakage_data, nonleakage_data])

# Sort by MeterNumber and UsageDate
combined_data.sort_values(by=['MeterNumber', 'UsageDate'], inplace=True)

# Reset index after sorting
combined_data.reset_index(drop=True, inplace=True)

combined_data

        AccountNumber         UsageDate  Value      MeterNumber  Class
0       0050005-28920  01-01-2023 00:00      2  0050005-10450-1      0
1       0050005-28920  01-01-2023 01:00      0  0050005-10450-1      0
2       0050005-28920  01-01-2023 02:00      0  0050005-10450-1      0
3       0050005-28920  01-01-2023 03:00      0  0050005-10450-1      0
4       0050005-28920  01-01-2023 04:00      0  0050005-10450-1      0
...               ...               ...    ...              ...    ...
299163  5751740-68085  12-31-2022 19:00      1  5751740-10450-1      1
299164  5751740-68085  12-31-2022 20:00      0  5751740-10450-1      1
299165  5751740-68085  12-31-2022 21:00      1  5751740-10450-1      1
299166  5751740-68085  12-31-2022 22:00      2  5751740-10450-1      1
299167  5751740-68085  12-31-2022 23:00      0  5751740-10450-1      1

[299168 rows x 5 columns]

In [48]:
print(len(df_account_list[0]))

7500

In [89]:
#truncate each account number to have same length = threshold
LEN_THRES = 7500
df_account_list = [combined_data[combined_data['AccountNumber'] == number].tail(LEN_THRES) for number in combined_data['AccountNumber'].unique()]
for (idx, df_account) in enumerate(df_account_list):
    if (len(df_account) < LEN_THRES):  #remove account if total number of datapoints below threshold
        dropping_meter_number = df_account.loc[:].reset_index()['MeterNumber'][0]
        combined_data = combined_data.drop(combined_data[combined_data['MeterNumber']==dropping_meter_number].index)
        del df_account_list[idx]
[len(e) for e in df_account_list]  #display number of data points for each account

[7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500]

In [90]:
#need to run the above block before running this one!!

#list to store pivoted account dataframes
df_account_pivoted_list = []

#conduct fourier transfor on each account
for (idx, df_account) in enumerate(df_account_list):
    df_account['FFT_F'] = fftfreq(len(df_account), 1)
    df_account['FFT_Period'] = 1/df_account['FFT_F']
    df_account['FFT'] = fft(df_account['Value'])
    df_account['FFTA'] = np.abs(df_account['FFT'])

    #remove large periods
    df_account = df_account.where(np.abs(df_account['FFT_Period']) <= 30)
    df_account = df_account.dropna()
    df_account_list[idx] = df_account

    #pivot each account dataframe
    df_account_pivoted = df_account.pivot(index="AccountNumber", columns='FFT_Period', values='FFTA')
    df_account_pivoted_list.append(df_account_pivoted)

df_account_pivoted_list[0]  #this shows 0 na's in dataframe

FFT_Period,-30.000000,-29.880478,-29.761905,-29.644269,-29.527559,-29.411765,-29.296875,-29.182879,-29.069767,-28.957529,...,28.957529,29.069767,29.182879,29.296875,29.411765,29.527559,29.644269,29.761905,29.880478,30.000000
AccountNumber,,,,,,,,,,,,,,,,,,,,,
0050005-28920,54.685236,99.025246,188.035079,114.800729,144.750595,23.000038,135.396546,129.04646,76.731557,238.048828,...,238.048828,76.731557,129.04646,135.396546,23.000038,144.750595,114.800729,188.035079,99.025246,54.685236

In [91]:
#combine all pivoted account dataframes
df_accounts_pivoted = pd.concat(df_account_pivoted_list)
df_accounts_pivoted

FFT_Period,-30.000000,-29.880478,-29.761905,-29.644269,-29.527559,-29.411765,-29.296875,-29.182879,-29.069767,-28.957529,...,28.957529,29.069767,29.182879,29.296875,29.411765,29.527559,29.644269,29.761905,29.880478,30.000000
AccountNumber,,,,,,,,,,,,,,,,,,,,,
0050005-28920,54.685236,99.025246,188.035079,114.800729,144.750595,23.000038,135.396546,129.046460,76.731557,238.048828,...,238.048828,76.731557,129.046460,135.396546,23.000038,144.750595,114.800729,188.035079,99.025246,54.685236
0050015-328466,90.814993,138.442607,239.481152,181.858867,178.467594,142.203437,206.763755,195.837020,117.969219,155.332205,...,155.332205,117.969219,195.837020,206.763755,142.203437,178.467594,181.858867,239.481152,138.442607,90.814993
0050017-668118,69.589964,42.628413,111.557355,71.018653,82.817134,40.738750,44.993817,168.380393,57.583345,264.435066,...,264.435066,57.583345,168.380393,44.993817,40.738750,82.817134,71.018653,111.557355,42.628413,69.589964
0050020-660260,70.888698,66.252341,93.928796,147.942500,68.286694,148.980265,52.302249,172.284751,87.091262,57.550918,...,57.550918,87.091262,172.284751,52.302249,148.980265,68.286694,147.942500,93.928796,66.252341,70.888698
0050100-50430,162.693075,342.090265,144.246943,344.418958,187.838806,244.506983,45.115045,214.846123,233.952047,134.429189,...,134.429189,233.952047,214.846123,45.115045,244.506983,187.838806,344.418958,144.246943,342.090265,162.693075
0050110-26,26.262934,74.651877,93.774045,148.685412,32.879654,42.683590,26.424128,136.837330,106.586450,58.831910,...,58.831910,106.586450,136.837330,26.424128,42.683590,32.879654,148.685412,93.774045,74.651877,26.262934
0050180-66814,37.606374,142.358608,62.846760,12.793066,65.517646,78.002774,25.867598,26.464456,13.975070,53.481037,...,53.481037,13.975070,26.464456,25.867598,78.002774,65.517646,12.793066,62.846760,142.358608,37.606374
0050200-530518,86.389453,96.846777,132.291912,122.379976,146.598468,117.817455,77.786461,306.032763,70.663081,235.832302,...,235.832302,70.663081,306.032763,77.786461,117.817455,146.598468,122.379976,132.291912,96.846777,86.389453
0050240-149921,332.748656,60.483246,277.190162,340.697592,524.663173,165.630675,242.616275,746.565831,408.541545,397.397238,...,397.397238,408.541545,746.565831,242.616275,165.630675,524.663173,340.697592,277.190162,60.483246,332.748656
0050280-110323,38.213531,19.899179,25.446983,24.308585,36.688427,60.139682,23.017231,24.049583,27.331068,135.309617,...,135.309617,27.331068,24.049583,23.017231,60.139682,36.688427,24.308585,25.446983,19.899179,38.213531
0050320-28938,273.494848,261.774009,279.918750,237.390921,228.150230,168.757803,233.601602,104.023497,113.998863,432.295263,...,432.295263,113.998863,104.023497,233.601602,168.757803,228.150230,237.390921,279.918750,261.774009,273.494848
0050340-66765,204.343118,218.074846,152.899367,351.241469,113.435222,32.332985,178.582574,290.698356,188.136831,182.787493,...,182.787493,188.136831,290.698356,178.582574,32.332985,113.435222,351.241469,152.899367,218.074846,204.343118
0050360-579784,194.069987,55.635544,96.704132,108.264159,96.847009,40.088950,65.530328,153.724628,108.347736,125.653803,...,125.653803,108.347736,153.724628,65.530328,40.088950,96.847009,108.264159,96.704132,55.635544,194.069987
0050414-50439,144.529833,143.987193,100.039857,42.789158,134.407411,60.197121,24.084105,71.395312,101.778268,135.807214,...,135.807214,101.778268,71.395312,24.084105,60.197121,134.407411,42.789158,100.039857,143.987193,144.529833
0050420-28948,273.383422,678.448484,331.888813,508.803124,159.431126,266.829369,167.924429,202.160772,418.266270,217.818084,...,217.818084,418.266270,202.160772,167.924429,266.829369,159.431126,508.803124,331.888813,678.448484,273.383422
0050460-28951,277.998179,222.853480,225.202477,280.102804,442.212745,492.113920,85.165797,386.979941,353.710430,31.662191,...,31.662191,353.710430,386.979941,85.165797,492.113920,442.212745,280.102804,225.202477,222.853480,277.998179
0050520-28957,45.533731,93.514759,114.852089,71.860089,59.446761,16.024412,44.556769,90.047454,38.135296,26.885139,...,26.885139,38.135296,90.047454,44.556769,16.024412,59.446761,71.860089,114.852089,93.514759,45.533731
0050620-22252,237.780264,289.480557,155.102323,188.343539,109.591102,296.951826,169.450402,372.114479,55.925768,199.297327,...,199.297327,55.925768,372.114479,169.450402,296.951826,109.591102,188.343539,155.102323,289.480557,237.780264
0050700-328186,379.946693,228.122076,229.127880,217.781902,450.268173,758.266162,257.944610,335.125735,805.566198,818.815488,...,818.815488,805.566198,335.125735,257.944610,758.266162,450.268173,217.781902,229.127880,228.122076,379.946693
0250780-511949,351.195000,100.839462,231.050389,364.329471,430.203880,222.066878,419.431786,368.409390,290.183577,453.631129,...,453.631129,290.183577,368.409390,419.431786,222.066878,430.203880,364.329471,231.050389,100.839462,351.195000
0751760-445274,190.392240,172.548152,27.632688,92.571557,132.532442,63.622938,161.408254,94.205957,61.432141,28.928965,...,28.928965,61.432141,94.205957,161.408254,63.622938,132.532442,92.571557,27.632688,172.548152,190.392240
0800240-294760,280.006903,258.115738,38.128641,493.746143,151.311606,559.694027,309.391546,530.245876,566.817446,467.252255,...,467.252255,566.817446,530.245876,309.391546,559.694027,151.311606,493.746143,38.128641,258.115738,280.006903
1000320-20089,575.283484,370.861906,221.005338,121.608698,430.277434,372.705169,485.501990,104.563065,215.494174,493.161646,...,493.161646,215.494174,104.563065,485.501990,372.705169,430.277434,121.608698,221.005338,370.861906,575.283484
1202220-661732,226.990309,342.408982,185.785329,300.530176,403.315264,199.073099,409.579815,441.803764,253.620428,276.660934,...,276.660934,253.620428,441.803764,409.579815,199.073099,403.315264,300.530176,185.785329,342.408982,226.990309
2850660-9136,544.432929,365.569418,498.047180,320.104847,967.981223,689.801247,1268.780403,872.696708,541.751932,480.071712,...,480.071712,541.751932,872.696708,1268.780403,689.801247,967.981223,320.104847,498.047180,365.569418,544.432929
3153360-272144,538.170265,266.160722,417.968908,315.143062,428.775533,394.225282,228.827185,278.063124,194.338136,139.952493,...,139.952493,194.338136,278.063124,228.827185,394.225282,428.775533,315.143062,417.968908,266.160722,538.170265
3821030-21500,1111.392109,252.311310,577.179034,1255.369404,1025.439757,252.117247,1116.878011,1204.272488,271.111669,866.832743,...,866.832743,271.111669,1204.272488,1116.878011,252.117247,1025.439757,1255.369404,577.179034,252.311310,1111.392109
4300880-171830,903.521372,174.493469,475.664951,1284.152442,458.164634,262.875389,127.328321,502.312656,597.046488,814.238058,...,814.238058,597.046488,502.312656,127.328321,262.875389,458.164634,1284.152442,475.664951,174.493469,903.521372
4351180-669343,237.385569,415.665177,316.319234,367.226648,170.268261,78.519546,266.118249,306.914215,371.028242,396.367194,...,396.367194,371.028242,306.914215,266.118249,78.519546,170.268261,367.226648,316.319234,415.665177,237.385569
4354160-667558,695.151956,506.445222,353.276737,207.248549,299.662134,60.958280,366.717227,273.933779,285.489458,274.260788,...,274.260788,285.489458,273.933779,366.717227,60.958280,299.662134,207.248549,353.276737,506.445222,695.151956
4403520-25706,521.691031,440.652614,803.127294,468.106275,483.858571,795.232167,472.524624,559.260925,528.037796,454.642565,...,454.642565,528.037796,559.260925,472.524624,795.232167,483.858571,468.106275,803.127294,440.652614,521.691031
4951960-220808,394.362075,266.692070,274.042581,544.148958,753.738023,154.904941,293.045760,393.053427,289.581459,312.578916,...,312.578916,289.581459,393.053427,293.045760,154.904941,753.738023,544.148958,274.042581,266.692070,394.362075
5751740-68085,572.620024,690.528827,785.413048,1423.464106,889.453386,1417.312170,856.031650,303.213976,843.574593,1575.601385,...,1575.601385,843.574593,303.213976,856.031650,1417.312170,889.453386,1423.464106,785.413048,690.528827,572.620024

### Perform FFT

In [92]:
# fft_features = []

# for meter_number in combined_data['MeterNumber'].unique():
#     meter_data = combined_data[combined_data['MeterNumber'] == meter_number]
#     fft_result = np.abs(fft(meter_data['Value']))
#     fft_features.append(fft_result)

# # Create a new DataFrame with FFT features
# fft_df = pd.DataFrame(fft_features)

# fft_df.head()

In [93]:
#testing data formats
# np.array(df_accounts_pivoted) #m meter accounts, n fft features, m x n matrix
# combined_data.loc[combined_data['MeterNumber'] == '0050005-10450-1']['Class'][0]
# meter_number = '0050005-10450-1'
# combined_data.loc[combined_data['MeterNumber'] == meter_number]['Class'][0]

# [combined_data.loc[combined_data['MeterNumber'] == meter_number]['Class'][0] for meter_number in combined_data['MeterNumber'].unique()]

### Perform and evaluate LDA

In [98]:
# Perform LDA
X = np.array(df_accounts_pivoted)
y = np.array([combined_data.loc[combined_data['MeterNumber'] == meter_number].reset_index()['Class'][0] for meter_number in combined_data['MeterNumber'].unique()])
lda = LinearDiscriminantAnalysis()
lda.fit(X, y)
lda.predict(X)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1])

In [124]:
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

lda = LinearDiscriminantAnalysis()
lda.fit(X_train, y_train)
y_pred = lda.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)

print(f"Accuracy: {accuracy}")
print(f"Confusion Matrix:\n{conf_matrix}")

Accuracy: 0.7857142857142857
Confusion Matrix:
[[10  0]
 [ 3  1]]