In [1]:
# Import libraries
import numpy as np
import pandas as pd
import random
import seaborn
import matplotlib.pyplot as plt
import scipy
from scipy.fft import fft, ifft, fftfreq
seaborn.set_palette(seaborn.color_palette())
import warnings; warnings.simplefilter('ignore')

In [2]:
pwd

'/Users/carolinezhang/Desktop/DIIG_Aquatrax_F23/src/Small_Leaks'

In [3]:
# Read dataset
FILE_NAME = '../../data/Positive_Meters_Data/Aquatrax_SmallLeak.csv'
df = pd.read_csv(FILE_NAME)
df

,AccountNumber,Usagedate,Value,MeterNumber,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,0250780-511949,08-01-2022 00:00,6,0250780-10450-1,NaN,NaN,AccountNumber
1,0250780-511949,08-01-2022 01:00,2,0250780-10450-1,NaN,NaN,0250780-511949
2,0250780-511949,08-01-2022 02:00,2,0250780-10450-1,NaN,NaN,0751760-445274
3,0250780-511949,08-01-2022 03:00,2,0250780-10450-1,NaN,NaN,0800240-294760
4,0250780-511949,08-01-2022 04:00,1,0250780-10450-1,NaN,NaN,1000320-20089
...,...,...,...,...,...,...,...
125858,5751740-68085,09-04-2023 19:00,8,5751740-10450-1,NaN,NaN,NaN
125859,5751740-68085,09-04-2023 20:00,9,5751740-10450-1,NaN,NaN,NaN
125860,5751740-68085,09-04-2023 21:00,8,5751740-10450-1,NaN,NaN,NaN
125861,5751740-68085,09-04-2023 22:00,9,5751740-10450-1,NaN,NaN,NaN
125862,5751740-68085,09-04-2023 23:00,8,5751740-10450-1,NaN,NaN,NaN

In [4]:
# Extract data from specific MeterID
METERNUM = "0250780-10450-1"
df_account = df.loc[df['MeterNumber']==METERNUM]
df_account = df_account.iloc[:,:4]
df_account

       AccountNumber         Usagedate  Value      MeterNumber
0     0250780-511949  08-01-2022 00:00      6  0250780-10450-1
1     0250780-511949  08-01-2022 01:00      2  0250780-10450-1
2     0250780-511949  08-01-2022 02:00      2  0250780-10450-1
3     0250780-511949  08-01-2022 03:00      2  0250780-10450-1
4     0250780-511949  08-01-2022 04:00      1  0250780-10450-1
...              ...               ...    ...              ...
9107  0250780-511949  09-04-2023 11:00     17  0250780-10450-1
9108  0250780-511949  09-04-2023 12:00      2  0250780-10450-1
9109  0250780-511949  09-04-2023 13:00      0  0250780-10450-1
9110  0250780-511949  09-04-2023 14:00      4  0250780-10450-1
9111  0250780-511949  09-04-2023 15:00      8  0250780-10450-1

[9112 rows x 4 columns]

In [5]:
df_account['FFT_W'] = [i/len(df_account) for i in range(len(df_account))]
df_account['FFT_Period'] = 1/df_account['FFT_W']
df_account['FFT'] = fft(df_account['Value'])
df_account['FFTA'] = np.abs(df_account['FFT'])
df_account

,AccountNumber,Usagedate,Value,MeterNumber,FFT_W,FFT_Period,FFT,FFTA
0,0250780-511949,08-01-2022 00:00,6,0250780-10450-1,0.000000,inf,25848000000.0-0.0000000j,25848.000000
1,0250780-511949,08-01-2022 01:00,2,0250780-10450-1,0.000110,9112.000000,1961.0956303+34.9986270j,1961.407909
2,0250780-511949,08-01-2022 02:00,2,0250780-10450-1,0.000219,4556.000000,-903.693161-3138.197875j,3265.723079
3,0250780-511949,08-01-2022 03:00,2,0250780-10450-1,0.000329,3037.333333,-2946.012004-596.102925j,3005.715460
4,0250780-511949,08-01-2022 04:00,1,0250780-10450-1,0.000439,2278.000000,-1076.363616-1069.959958j,1517.686708
...,...,...,...,...,...,...,...,...
9107,0250780-511949,09-04-2023 11:00,17,0250780-10450-1,0.999451,1.000549,2374.416420-1636.439233j,2883.710578
9108,0250780-511949,09-04-2023 12:00,2,0250780-10450-1,0.999561,1.000439,-1076.363616+1069.959958j,1517.686708
9109,0250780-511949,09-04-2023 13:00,0,0250780-10450-1,0.999671,1.000329,-2946.012004+596.102925j,3005.715460
9110,0250780-511949,09-04-2023 14:00,4,0250780-10450-1,0.999781,1.000220,-903.693161+3138.197875j,3265.723079
9111,0250780-511949,09-04-2023 15:00,8,0250780-10450-1,0.999890,1.000110,1961.0956303-34.9986270j,1961.407909

In [6]:
df_account = df_account[["AccountNumber","FFT_Period","FFTA"]]
df_account

       AccountNumber   FFT_Period          FFTA
0     0250780-511949          inf  25848.000000
1     0250780-511949  9112.000000   1961.407909
2     0250780-511949  4556.000000   3265.723079
3     0250780-511949  3037.333333   3005.715460
4     0250780-511949  2278.000000   1517.686708
...              ...          ...           ...
9107  0250780-511949     1.000549   2883.710578
9108  0250780-511949     1.000439   1517.686708
9109  0250780-511949     1.000329   3005.715460
9110  0250780-511949     1.000220   3265.723079
9111  0250780-511949     1.000110   1961.407909

[9112 rows x 3 columns]

In [7]:
df_account.pivot(index = "AccountNumber", columns = "FFT_Period", values = "FFTA")

FFT_Period,1.000110,1.000220,1.000329,1.000439,1.000549,1.000659,1.000769,1.000879,1.000989,1.001099,...,1012.444444,1139.000000,1301.714286,1518.666667,1822.400000,2278.000000,3037.333333,4556.000000,9112.000000,inf
AccountNumber,,,,,,,,,,,,,,,,,,,,,
0250780-511949,1961.407909,3265.723079,3005.71546,1517.686708,2883.710578,805.654595,1067.44788,1833.183356,379.357121,1988.213091,...,379.357121,1833.183356,1067.44788,805.654595,2883.710578,1517.686708,3005.71546,3265.723079,1961.407909,25848.0

In [8]:
#I added some corrections starting from here
meter_numbers = df['AccountNumber'].unique()
meter_numbers

array(['0250780-511949', '0751760-445274', '0800240-294760',
       '1000320-20089', '1202220-661732', '2850660-9136',
       '3153360-272144', '3821030-21500', '4300880-171830',
       '4351180-669343', '4354160-667558', '4403520-25706',
       '4951960-220808', '5751740-68085'], dtype=object)

In [9]:
#Number of data points for each unique account number
[len(df[df['AccountNumber']==number]) for number in df['AccountNumber'].unique()]  #we want to take the minimum of these (or a preset threshold)

[9112,
 9047,
 9095,
 8760,
 8920,
 9096,
 9143,
 7852,
 9144,
 9095,
 9096,
 9168,
 9192,
 9143]

In [10]:
#truncate each account number to have same length = threshold
LEN_THRES = 300
df_account_list = [df[df['AccountNumber'] == number].tail(LEN_THRES).iloc[:,:4] for number in df['AccountNumber'].unique()]
[len(e) for e in df_account_list]  #display number of data points for each account

[300, 300, 300, 300, 300, 300, 300, 300, 300, 300, 300, 300, 300, 300]

In [11]:
#need to run the above block before running this one!!

#list to store pivoted account dataframes
df_account_pivoted_list = []

#conduct fourier transfor on each account
for (idx, df_account) in enumerate(df_account_list):
    df_account['FFT_F'] = fftfreq(len(df_account), 1)
    df_account['FFT_Period'] = 1/df_account['FFT_F']
    df_account['FFT'] = fft(df_account['Value'])
    df_account['FFTA'] = np.abs(df_account['FFT'])

    #remove large periods
    df_account = df_account.where(np.abs(df_account['FFT_Period']) <= 30)
    df_account = df_account.dropna()
    df_account_list[idx] = df_account

    #pivot each account dataframe
    df_account_pivoted = df_account.pivot(index="AccountNumber", columns='FFT_Period', values='FFTA')
    df_account_pivoted_list.append(df_account_pivoted)

df_account_pivoted_list[0]  #this shows 0 na's in dataframe

FFT_Period,-30.000000,-27.272727,-25.000000,-23.076923,-21.428571,-20.000000,-18.750000,-17.647059,-16.666667,-15.789474,...,15.789474,16.666667,17.647059,18.750000,20.000000,21.428571,23.076923,25.000000,27.272727,30.000000
AccountNumber,,,,,,,,,,,,,,,,,,,,,
0250780-511949,63.461082,29.909408,120.146315,192.18317,75.414378,34.989099,26.263606,73.701227,75.157978,66.797505,...,66.797505,75.157978,73.701227,26.263606,34.989099,75.414378,192.18317,120.146315,29.909408,63.461082

In [12]:
#combine all pivoted account dataframes
df_accounts_pivoted = pd.concat(df_account_pivoted_list)
df_accounts_pivoted

FFT_Period,-30.000000,-27.272727,-25.000000,-23.076923,-21.428571,-20.000000,-18.750000,-17.647059,-16.666667,-15.789474,...,15.789474,16.666667,17.647059,18.750000,20.000000,21.428571,23.076923,25.000000,27.272727,30.000000
AccountNumber,,,,,,,,,,,,,,,,,,,,,
0250780-511949,63.461082,29.909408,120.146315,192.183170,75.414378,34.989099,26.263606,73.701227,75.157978,66.797505,...,66.797505,75.157978,73.701227,26.263606,34.989099,75.414378,192.183170,120.146315,29.909408,63.461082
0751760-445274,2.989229,5.699594,7.955531,9.628078,11.896248,12.039975,12.817002,13.743793,9.464508,6.245667,...,6.245667,9.464508,13.743793,12.817002,12.039975,11.896248,9.628078,7.955531,5.699594,2.989229
0800240-294760,79.963925,27.246607,55.852218,127.160226,130.652904,99.466947,63.310052,39.171345,13.718563,33.436471,...,33.436471,13.718563,39.171345,63.310052,99.466947,130.652904,127.160226,55.852218,27.246607,79.963925
1000320-20089,1.334729,52.980400,60.457444,55.271188,49.883103,30.451542,33.977515,31.978473,10.116719,53.713384,...,53.713384,10.116719,31.978473,33.977515,30.451542,49.883103,55.271188,60.457444,52.980400,1.334729
1202220-661732,14.399205,120.400719,286.232088,277.105402,156.402886,87.586759,32.828913,40.035047,52.769874,244.655149,...,244.655149,52.769874,40.035047,32.828913,87.586759,156.402886,277.105402,286.232088,120.400719,14.399205
2850660-9136,232.926707,262.622080,456.957995,417.818442,163.340814,216.413783,228.687977,398.031668,186.704370,211.738523,...,211.738523,186.704370,398.031668,228.687977,216.413783,163.340814,417.818442,456.957995,262.622080,232.926707
3153360-272144,45.057327,52.383522,70.562547,33.272500,46.004077,45.380746,8.614412,3.233481,21.088549,23.452282,...,23.452282,21.088549,3.233481,8.614412,45.380746,46.004077,33.272500,70.562547,52.383522,45.057327
3821030-21500,99.306504,248.874186,454.085900,483.540034,219.334182,78.096437,187.359088,146.994296,556.415122,275.764002,...,275.764002,556.415122,146.994296,187.359088,78.096437,219.334182,483.540034,454.085900,248.874186,99.306504
4300880-171830,237.000251,106.928670,540.873035,548.672072,123.462112,260.730787,80.503089,131.281134,25.971766,13.042013,...,13.042013,25.971766,131.281134,80.503089,260.730787,123.462112,548.672072,540.873035,106.928670,237.000251
4351180-669343,51.515812,55.775425,189.346306,183.830813,82.534701,38.693490,42.592472,27.909433,9.867570,23.881792,...,23.881792,9.867570,27.909433,42.592472,38.693490,82.534701,183.830813,189.346306,55.775425,51.515812
4354160-667558,53.841873,92.415216,140.159171,118.199159,116.507093,14.297875,72.376744,36.208538,230.744668,122.416244,...,122.416244,230.744668,36.208538,72.376744,14.297875,116.507093,118.199159,140.159171,92.415216,53.841873
4403520-25706,184.197882,205.718404,845.188597,889.336725,221.087641,213.298816,404.302230,151.900387,340.171064,143.431488,...,143.431488,340.171064,151.900387,404.302230,213.298816,221.087641,889.336725,845.188597,205.718404,184.197882
4951960-220808,47.322429,76.691130,14.681880,131.101037,7.623912,23.215289,20.906463,8.436066,66.929103,58.626328,...,58.626328,66.929103,8.436066,20.906463,23.215289,7.623912,131.101037,14.681880,76.691130,47.322429
5751740-68085,86.874713,18.216971,222.671160,187.791015,15.232305,86.250331,44.830252,133.223136,39.604997,66.292080,...,66.292080,39.604997,133.223136,44.830252,86.250331,15.232305,187.791015,222.671160,18.216971,86.874713

In [102]:
#save pivoted and combined dataframe
df_accounts_pivoted.to_csv("../../data/Processed_Data/leakage_fourier_transform_results.csv")