In [2]:
# Import libraries
import numpy as np
import pandas as pd
import random
import seaborn
import matplotlib.pyplot as plt
import scipy
from scipy.fft import fft, ifft, fftfreq
seaborn.set_palette(seaborn.color_palette())
import warnings; warnings.simplefilter('ignore')

In [3]:
pwd

'/Users/starfarmer2/Desktop/Jasper/Coding Files/DIIG/Aquatrax/Aquatrax_F23/Code/src/Small_Leaks'

In [5]:
# Read dataset
FILE_NAME = '../../data/Positive_Meters_Data/Aquatrax_SmallLeak.csv'
df = pd.read_csv(FILE_NAME)
df

,AccountNumber,Usagedate,Value,MeterNumber,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,0250780-511949,08-01-2022 00:00,6,0250780-10450-1,NaN,NaN,AccountNumber
1,0250780-511949,08-01-2022 01:00,2,0250780-10450-1,NaN,NaN,0250780-511949
2,0250780-511949,08-01-2022 02:00,2,0250780-10450-1,NaN,NaN,0751760-445274
3,0250780-511949,08-01-2022 03:00,2,0250780-10450-1,NaN,NaN,0800240-294760
4,0250780-511949,08-01-2022 04:00,1,0250780-10450-1,NaN,NaN,1000320-20089
...,...,...,...,...,...,...,...
125858,5751740-68085,09-04-2023 19:00,8,5751740-10450-1,NaN,NaN,NaN
125859,5751740-68085,09-04-2023 20:00,9,5751740-10450-1,NaN,NaN,NaN
125860,5751740-68085,09-04-2023 21:00,8,5751740-10450-1,NaN,NaN,NaN
125861,5751740-68085,09-04-2023 22:00,9,5751740-10450-1,NaN,NaN,NaN
125862,5751740-68085,09-04-2023 23:00,8,5751740-10450-1,NaN,NaN,NaN

In [6]:
# Extract data from specific MeterID
METERNUM = "0250780-10450-1"
df_account = df.loc[df['MeterNumber']==METERNUM]
df_account = df_account.iloc[:,:4]
df_account

       AccountNumber         Usagedate  Value      MeterNumber
0     0250780-511949  08-01-2022 00:00      6  0250780-10450-1
1     0250780-511949  08-01-2022 01:00      2  0250780-10450-1
2     0250780-511949  08-01-2022 02:00      2  0250780-10450-1
3     0250780-511949  08-01-2022 03:00      2  0250780-10450-1
4     0250780-511949  08-01-2022 04:00      1  0250780-10450-1
...              ...               ...    ...              ...
9107  0250780-511949  09-04-2023 11:00     17  0250780-10450-1
9108  0250780-511949  09-04-2023 12:00      2  0250780-10450-1
9109  0250780-511949  09-04-2023 13:00      0  0250780-10450-1
9110  0250780-511949  09-04-2023 14:00      4  0250780-10450-1
9111  0250780-511949  09-04-2023 15:00      8  0250780-10450-1

[9112 rows x 4 columns]

In [7]:
df_account['FFT_W'] = [i/len(df_account) for i in range(len(df_account))]
df_account['FFT_Period'] = 1/df_account['FFT_W']
df_account['FFT'] = fft(df_account['Value'])
df_account['FFTA'] = np.abs(df_account['FFT'])
df_account

,AccountNumber,Usagedate,Value,MeterNumber,FFT_W,FFT_Period,FFT,FFTA
0,0250780-511949,08-01-2022 00:00,6,0250780-10450-1,0.000000,inf,25848000000.0-0.0000000j,25848.000000
1,0250780-511949,08-01-2022 01:00,2,0250780-10450-1,0.000110,9112.000000,1961.0956303+34.9986270j,1961.407909
2,0250780-511949,08-01-2022 02:00,2,0250780-10450-1,0.000219,4556.000000,-903.693161-3138.197875j,3265.723079
3,0250780-511949,08-01-2022 03:00,2,0250780-10450-1,0.000329,3037.333333,-2946.012004-596.102925j,3005.715460
4,0250780-511949,08-01-2022 04:00,1,0250780-10450-1,0.000439,2278.000000,-1076.363616-1069.959958j,1517.686708
...,...,...,...,...,...,...,...,...
9107,0250780-511949,09-04-2023 11:00,17,0250780-10450-1,0.999451,1.000549,2374.416420-1636.439233j,2883.710578
9108,0250780-511949,09-04-2023 12:00,2,0250780-10450-1,0.999561,1.000439,-1076.363616+1069.959958j,1517.686708
9109,0250780-511949,09-04-2023 13:00,0,0250780-10450-1,0.999671,1.000329,-2946.012004+596.102925j,3005.715460
9110,0250780-511949,09-04-2023 14:00,4,0250780-10450-1,0.999781,1.000220,-903.693161+3138.197875j,3265.723079
9111,0250780-511949,09-04-2023 15:00,8,0250780-10450-1,0.999890,1.000110,1961.0956303-34.9986270j,1961.407909

In [8]:
df_account = df_account[["AccountNumber","FFT_Period","FFTA"]]
df_account

       AccountNumber   FFT_Period          FFTA
0     0250780-511949          inf  25848.000000
1     0250780-511949  9112.000000   1961.407909
2     0250780-511949  4556.000000   3265.723079
3     0250780-511949  3037.333333   3005.715460
4     0250780-511949  2278.000000   1517.686708
...              ...          ...           ...
9107  0250780-511949     1.000549   2883.710578
9108  0250780-511949     1.000439   1517.686708
9109  0250780-511949     1.000329   3005.715460
9110  0250780-511949     1.000220   3265.723079
9111  0250780-511949     1.000110   1961.407909

[9112 rows x 3 columns]

In [9]:
df_account.pivot(index = "AccountNumber", columns = "FFT_Period", values = "FFTA")

FFT_Period,1.000110,1.000220,1.000329,1.000439,1.000549,1.000659,1.000769,1.000879,1.000989,1.001099,...,1012.444444,1139.000000,1301.714286,1518.666667,1822.400000,2278.000000,3037.333333,4556.000000,9112.000000,inf
AccountNumber,,,,,,,,,,,,,,,,,,,,,
0250780-511949,1961.407909,3265.723079,3005.71546,1517.686708,2883.710578,805.654595,1067.44788,1833.183356,379.357121,1988.213091,...,379.357121,1833.183356,1067.44788,805.654595,2883.710578,1517.686708,3005.71546,3265.723079,1961.407909,25848.0

In [70]:
#I added some corrections starting from here
meter_numbers = df['AccountNumber'].unique()
meter_numbers

array(['0250780-511949', '0751760-445274', '0800240-294760',
       '1000320-20089', '1202220-661732', '2850660-9136',
       '3153360-272144', '3821030-21500', '4300880-171830',
       '4351180-669343', '4354160-667558', '4403520-25706',
       '4951960-220808', '5751740-68085'], dtype=object)

In [71]:
#Number of data points for each unique account number
[len(df[df['AccountNumber']==number]) for number in df['AccountNumber'].unique()]  #we want to take the minimum of these (or a preset threshold)

[9112,
 9047,
 9095,
 8760,
 8920,
 9096,
 9143,
 7852,
 9144,
 9095,
 9096,
 9168,
 9192,
 9143]

In [99]:
#truncate each account number to have same length = threshold
LEN_THRES = 7500
df_account_list = [df[df['AccountNumber'] == number].tail(LEN_THRES).iloc[:,:4] for number in df['AccountNumber'].unique()]
[len(e) for e in df_account_list]  #display number of data points for each account

[7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500,
 7500]

In [100]:
#need to run the above block before running this one!!

#list to store pivoted account dataframes
df_account_pivoted_list = []

#conduct fourier transfor on each account
for (idx, df_account) in enumerate(df_account_list):
    df_account['FFT_F'] = fftfreq(len(df_account), 1)
    df_account['FFT_Period'] = 1/df_account['FFT_F']
    df_account['FFT'] = fft(df_account['Value'])
    df_account['FFTA'] = np.abs(df_account['FFT'])

    #remove large periods
    df_account = df_account.where(np.abs(df_account['FFT_Period']) <= 30)
    df_account = df_account.dropna()
    df_account_list[idx] = df_account

    #pivot each account dataframe
    df_account_pivoted = df_account.pivot(index="AccountNumber", columns='FFT_Period', values='FFTA')
    df_account_pivoted_list.append(df_account_pivoted)

df_account_pivoted_list[0]  #this shows 0 na's in dataframe

FFT_Period,-30.000000,-29.880478,-29.761905,-29.644269,-29.527559,-29.411765,-29.296875,-29.182879,-29.069767,-28.957529,...,28.957529,29.069767,29.182879,29.296875,29.411765,29.527559,29.644269,29.761905,29.880478,30.000000
AccountNumber,,,,,,,,,,,,,,,,,,,,,
0250780-511949,54.144652,359.149105,298.364118,331.425118,221.504635,221.775855,633.941601,219.307955,357.391871,632.977859,...,632.977859,357.391871,219.307955,633.941601,221.775855,221.504635,331.425118,298.364118,359.149105,54.144652

In [101]:
#combine all pivoted account dataframes
df_accounts_pivoted = pd.concat(df_account_pivoted_list)
df_accounts_pivoted

FFT_Period,-30.000000,-29.880478,-29.761905,-29.644269,-29.527559,-29.411765,-29.296875,-29.182879,-29.069767,-28.957529,...,28.957529,29.069767,29.182879,29.296875,29.411765,29.527559,29.644269,29.761905,29.880478,30.000000
AccountNumber,,,,,,,,,,,,,,,,,,,,,
0250780-511949,54.144652,359.149105,298.364118,331.425118,221.504635,221.775855,633.941601,219.307955,357.391871,632.977859,...,632.977859,357.391871,219.307955,633.941601,221.775855,221.504635,331.425118,298.364118,359.149105,54.144652
0751760-445274,85.057561,227.515977,33.640016,109.376999,64.951766,141.108078,117.742658,100.385297,54.427729,19.696296,...,19.696296,54.427729,100.385297,117.742658,141.108078,64.951766,109.376999,33.640016,227.515977,85.057561
0800240-294760,310.167485,105.721501,380.204289,207.893514,334.453145,199.357422,68.361327,210.130383,113.819542,38.367786,...,38.367786,113.819542,210.130383,68.361327,199.357422,334.453145,207.893514,380.204289,105.721501,310.167485
1000320-20089,176.736536,133.990707,354.854145,245.003081,240.844651,87.987481,425.393463,241.850337,348.137472,188.652146,...,188.652146,348.137472,241.850337,425.393463,87.987481,240.844651,245.003081,354.854145,133.990707,176.736536
1202220-661732,139.259859,382.076849,297.113532,176.389503,531.650005,359.546625,352.003541,192.067589,280.806921,286.250885,...,286.250885,280.806921,192.067589,352.003541,359.546625,531.650005,176.389503,297.113532,382.076849,139.259859
2850660-9136,723.358486,761.862310,712.404498,148.029381,1225.008111,823.668897,756.285595,740.492187,568.485190,310.049478,...,310.049478,568.485190,740.492187,756.285595,823.668897,1225.008111,148.029381,712.404498,761.862310,723.358486
3153360-272144,448.179474,194.664643,537.877869,356.112004,267.910675,69.857378,150.693284,286.621703,267.279499,612.006769,...,612.006769,267.279499,286.621703,150.693284,69.857378,267.910675,356.112004,537.877869,194.664643,448.179474
3821030-21500,411.887801,633.190951,274.996914,764.238661,1063.940863,690.281615,831.363864,903.039663,106.835103,950.736521,...,950.736521,106.835103,903.039663,831.363864,690.281615,1063.940863,764.238661,274.996914,633.190951,411.887801
4300880-171830,443.713446,743.381306,887.707579,216.272718,608.423070,732.531348,247.377844,454.083855,444.697409,412.910039,...,412.910039,444.697409,454.083855,247.377844,732.531348,608.423070,216.272718,887.707579,743.381306,443.713446
4351180-669343,272.384361,183.835525,200.188844,410.247974,121.492630,168.153008,153.848008,388.986639,198.588666,386.226360,...,386.226360,198.588666,388.986639,153.848008,168.153008,121.492630,410.247974,200.188844,183.835525,272.384361
4354160-667558,336.665731,155.736283,260.852220,136.507213,281.897261,299.894452,126.906560,455.649047,264.019078,378.670196,...,378.670196,264.019078,455.649047,126.906560,299.894452,281.897261,136.507213,260.852220,155.736283,336.665731
4403520-25706,1400.460369,259.654665,688.795367,121.001975,386.762982,942.694462,239.782473,633.164333,430.815343,179.692343,...,179.692343,430.815343,633.164333,239.782473,942.694462,386.762982,121.001975,688.795367,259.654665,1400.460369
4951960-220808,220.172036,280.776826,307.757592,151.286126,311.625363,100.544408,309.473905,316.617260,53.608708,150.283562,...,150.283562,53.608708,316.617260,309.473905,100.544408,311.625363,151.286126,307.757592,280.776826,220.172036
5751740-68085,267.177973,437.316010,626.712067,167.707682,284.437678,375.681545,515.837369,362.148651,458.316256,598.119509,...,598.119509,458.316256,362.148651,515.837369,375.681545,284.437678,167.707682,626.712067,437.316010,267.177973

In [102]:
#save pivoted and combined dataframe
df_accounts_pivoted.to_csv("../../data/Processed_Data/leakage_fourier_transform_results.csv")